@import url('https://fonts.googleapis.com/css?family=ABeeZee|Alegreya|Alegreya+Sans+SC|Asar|Assistant|Secular+One');

.theNav ul li a {
    text-decoration: none;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: #2d8bc2;
    margin-right: 20px;
    padding-bottom: 7px;
}
.theNav ul li a:hover {
    transition: 0.7s;
    color: #f7fdff;
}
/* .socialMedia ||| Link Decoration */
.fa {
    padding: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
.fa:hover {
    opacity: 0.5;
    transition: 0.8s;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #2d8bc2;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
/* GV NAME */
span#G1 {
    color: #2d8bc2;
    font-family: "Secular One", sans-serif;
}

span#G2 {
    color: #bb0000;
    font-family: "Secular One", sans-serif;

}
/* 1-NAV : margin-right || float: right*/
.theNav ul li:first-child {
    margin-right: 600px;
}
